<div class="wrapper">
    <div class="card_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-card">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <img class="abs prize-preview" src="assets/images/common/card.png" />
                <div class="abs tip">*点击购物卡长按保存使用</div>
                <div class="abs modal-content">
                    <ul>
                        <li>
                            <div class="sub-title">使用规则:</div>
                            <div class="sub-content">*凭借当日消费满$30的收据和本页面，即可在客服中心免费领取一万韩元  购物卡（仅限当日使用）<br />*购物卡不适用于某些品牌，具体请咨询客服中心<br />*活动免店：首尔店，济州店，仁川机场店<br />*活动时间：~ 2019年06月30日<br />*活动对象：中国自由行顾客专享</div>
                        </li>
                        <li>
                            <div class="sub-title">注意事项:</div>
                            <div class="sub-content">*本次活动在活动时间内每人仅限参加一次<br />*本次活动不适于部分品牌，详情请咨询客服中心<br />*本次活动仅限中国自由行顾客专用<br />*本次活动结束时间有可能会根据实际情况提前结束<br />*活动最终解释权为新罗免税店所有</div>
                        </li>
                    </ul>
                </div>
                <!-- 关闭按钮 -->
                <img class="abs close" src="assets/images/common/close.png" />
            </div>
        </div>
    </div>
</div>