<div class="wrapper">
    <div class="coupons_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-coupons">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width coupons" src="assets/images/common/coupons.png" />
                </div>
                <div class="abs full-width tip">*点击优惠券长按保存使用<br /><span>注意事项：优惠券仅限中国自由行顾客 ，此优惠券仅限部分品牌使用<br />优惠券有效期至2019年12月31日。</span></div>
                <!-- 关闭按钮 -->
                <img class="abs close" src="assets/images/common/close.png" />
            </div>
        </div>
    </div>
</div>