<div class="wrapper">
    <div class="form_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 规则弹窗 -->
        <div class="abs full-width modal modal-form">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <form>
                        <img class="full-width title-form" src="assets/images/common/title-form.png" />
                        <div class="input-wrapper">
                            <input class="full-width" type="text" name="username" placeholder="姓名（中文）">
                        </div>
                        <div class="input-wrapper">
                            <input class="full-width" type="text" name="enname" placeholder="姓名（拼音）">
                        </div>
                        <div class="input-wrapper">
                            <input class="full-width" type="text" name="passport" placeholder="护照号码">
                        </div>
                        <div class="input-wrapper">
                            <input class="full-width" type="tel" maxlength="11" name="mobile" placeholder="手机号">
                        </div>
                    </form>
                    <div class="btn-wrapper">
                        <button class="btn btn-form">完&nbsp;&nbsp;成</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>