<div class="wrapper">
    <div class="home_page page">
        <!-- 校对 -->
        <!-- <img class="abs full-width title" src="assets/images/common/bg0.png" /> -->
        <!-- title -->
        <img class="abs full-width title" src="assets/images/common/title.png" />
        <!-- 奖品 -->
        <img class="abs full-width prize" src="assets/images/home/prize.png" />
        <!-- 彩花 -->
        <img class="abs full-width coins" src="assets/images/home/coins.png" />
        <!-- bottom -->
        <div class="abs full-width bottom">
            <!-- 粉猪 -->
            <img class="pig" src="assets/images/common/pig.png" />
            <!-- 开始游戏 -->
            <button class="abs btn start">开 始 游 戏</button>
        </div>
        <!-- 奖品金猪 -->
        <div class="abs full-width modal modal-prize1">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-pig.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面<br />*奖品入境关税，需中奖者自行支付</div>
                <button class="abs btn btn-unlock">解 锁 福 利</button>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品三星 -->
        <div class="abs full-width modal modal-prize2">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-samsung.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-unlock">解 锁 福 利</button>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品住宿券 -->
        <div class="abs full-width modal modal-prize3">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-stay.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-unlock">解 锁 福 利</button>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品购物卡 -->
        <div class="abs full-width modal modal-prize4">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-shopping.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-unlock">解 锁 福 利</button>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品优惠券 -->
        <div class="abs full-width modal modal-prize5">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-coupon.png" />
                    <div class="abs shop-coupon"></div>
                    <div class="abs shopping-card"></div>
                    <a class="abs taxi" href="http://m.shilladfs.com/comm/kr/zh/eventView?event_id=191&event_site_code=0"></a>
                    <a class="abs silver-card" href="http://www.shilladfs.com/comm/kr/zh/eventView?event_id=622"></a>
                </div>
                <div class="abs full-width tip">*点击优惠券领取福利</div>
                <button class="abs btn btn-again">再 试 一 次</button>
                <button class="abs btn btn-share">有 福 同 享</button>
            </div>
        </div>
    </div>
</div>