<div class="wrapper">
    <div class="loading_page page">
    	<!-- 山峰 -->
        <img class="mountain" src="assets/images/loading/mountain.png" />
        <!-- loading -->
        <div class="loading">
            <!-- 亭台 -->
            <img class="pavilion" src="assets/images/loading/pavilion.png" />
            <!-- 进度条 -->
            <div class="bar-white">
                <div class="bar-red"></div>
            </div>
            <p><span class="num">0</span>%</p>
        </div>
    </div>
</div>