<div class="wrapper">
    <div class="message-fin_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-message-fin">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">啊噢 ！本次活动已经结束啦。<br />请返回领取其它福利哦。</div>
                </div>
                <!-- 关闭按钮 -->
                <img class="abs close" src="assets/images/common/close.png" />
            </div>
        </div>
    </div>
</div>