<div class="wrapper">
    <div class="message-share_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-message-share">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">呼朋唤友瓜分新罗豪礼，<br />2019「猪」事皆顺！</div>
                </div>
            </div>
            <!-- 箭头 -->
            <img class="abs full-width arrow" src="assets/images/common/arrow.png" />
            <!-- 关闭按钮 -->
            <img class="abs close" src="assets/images/common/close.png" />
        </div>
    </div>
</div>