<div class="wrapper">
    <div class="message-over_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-message-over">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">啊噢 ！<br />你的3次抽奖已用光！<br />即刻召唤小伙伴瓜分好礼！</div>
                </div>
            </div>
            <!-- 箭头 -->
            <img class="abs full-width arrow" src="assets/images/common/arrow.png" />
            <!-- 关闭按钮 -->
            <img class="abs close" src="assets/images/common/close.png" />
        </div>
    </div>
</div>