<div class="wrapper">
    <div class="message-success_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 弹窗 -->
        <div class="abs full-width modal modal-message-success">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">你的个人信息已登记在册！<br />请到新罗免税店首尔店客服中心，<br />出示本人护照领取奖品！<br />戳下方按钮，<br />领取新罗优惠大礼包！</div>
                </div>
                <button class="abs btn btn-unlock">解 锁 福 利</button>
            </div>
        </div>
    </div>
</div>