<div class="wrapper">
    <div class="policy_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 规则弹窗 -->
        <div class="abs full-width modal modal-policy">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">韩国新罗免税店网络隐私政策</div>
                    <div class="text">
                        <p>本网络隐私政策描述了我们如何利用多种数字方式收集和使用您的信息。</p>
                        <p>通过在电脑、手机、笔记本、控制台或其他设备（以下统称“设备”）上访问或使用本网站、手机应用或其他产品或服务(“本平台”)，即表明您同意本隐私政策。<span>若您不同意本隐私政策，请点击拒绝按钮，即视为自动放弃获奖和领取奖品权利处理。</span></p>
                        <p>韩国新罗免税店有权在任何时间修改本隐私政策，并于公布之时起生效。</p>
                        <p>您对我们产品和服务的继续使用构成您对本隐私政策及其更新的接受。</p>
                        <p>本隐私政策旨在描述韩国新罗免税店普遍的隐私政策，我们的目标是要在对您最具影响的时刻，提供更详细的信息给您。请在我们的服务中注意该等通知。</p>
                        <p><b>收集信息</b></p>
                        <p>您提供给我们的信息</p>
                        <p>我们收集并存储任何您提供给我们或允许我们使用的信息。该等信息可能包括但不限于，<b>您的姓名、生日、护照信息、电子邮箱地址和实体地址，手机号码、联系人信息、社交媒体信息和个人资料、位置（GPS）信息、活动和信息、产品评论、信用卡和支付平台相关信息（如必要）</b>。</p>
                        <p>我们自动向您收集的信息</p>
                        <p>无论您何时与我们进行互动，或使用我们的产品和服务，我们都可能自动收集信息。例如，当您的浏览器访问韩国新罗免税店网站或广告及其他内容时，“cookies”或其他方法将被用于获取您的信息，包括但不限于硬件信息、IP地址、浏览器类型和语言、cookie信息、系统类型、是否适用软件访问特定的功能、访问时间、引用的网站统一资源定址器（URL）、关于您购买产品的信息和其他关于您与我们互动的信息。当您下载或使用韩国新罗免税店创建或推广的手机应用时，我们可能接收到您的手机号码、设备识别符和关于您位置的信息。</p>
                        <p>我们从第三方处收集的信息</p>
                        <p><b>我们还从第三方处获得信息。我们可能将您提供给我们的或我们收集的信息与来自于韩国新罗免税店渠道、交易和通信的其他信息相结合，可能包括但不限于，来自韩国新罗免税店店铺、直邮、产品目录、活动、产品和应用的信息。我们还可能将该等信息与公开资料和来自第三方的数据相结合。我们还收集礼物给予者提供的关于礼物接受者的信息。如果我们将您提供给我们的或来自第三方的信息相结合，该等相结合的信息将会被视为个人信息，只要该等信息保持相结合的状态。</b></p>
                        <p>儿童隐私权</p>
                        <p>我们不会故意收集或征集小于13岁儿童的个人信息。如果您系13岁至18岁之间的未成年人，您声明并保证您已取得您监护人的同意使用本平台并同意本隐私政策。</p>
                        <p><b>使用信息</b></p>
                        <p>我们会将您的信息用于如下：</p>
                        <p>使您正常使用本网站</p>
                        <p>•&nbsp;&nbsp;提高、定做和个性化您的韩国新罗免税店体验和沟通</p>
                        <p>•&nbsp;&nbsp;使用韩国新罗免税店产品订购、比赛报名和其他活动等功能操作、改进和分析</p>
                        <p>•&nbsp;&nbsp;操作、提供、改进和维护韩国新罗免税店的产品和服务，包括分析用户行为和趋势</p>
                        <p>•&nbsp;&nbsp;发送给您管理信息和其他关于韩国新罗免税店的信息。就您的订单、账户信息或客户服务与您沟通提供和进行市场营销和促销</p>
                        <p>•&nbsp;&nbsp;就我们的产品、服务和活动以及其他促销目的而与您沟通</p>
                        <p>•&nbsp;&nbsp;竞赛管理、促销、活动、问卷调查和其他功能</p>
                        <p>•&nbsp;&nbsp;向您展示相关的市场营销，例如代表其他实体展示给您要约或第三方广告和其他网站的链接</p>
                        <p><b>共享信息</b></p>
                        <p>韩国新罗免税店</p>
                        <p><b>我们可能将您的信息提供给韩国新罗免税店公司及其关联公司，其中一些公司可能不在中国。</b></p>
                        <p>服务提供商</p>
                        <p>我们可能将您的信息传输至韩国新罗免税店的服务提供商以便开展我们的业务。例如，他们可能处理信用卡流程、送货、数据管理、发送电子邮件、市场调研、信息分析和促销管理。我们也可能提供您的信息以实现管理功能。他们仅可访问他们完成其功能所必须的个人信息，且不能为其他目的而使用之。根据法律或为保护权利之目的我们可能会根据政府部门的要求、针对法院命令、根据法律要求、为执行我们的政策或为保护我们或其他人的权利、财产或安全而披露信息。我们可能共享信息以阻止非法使用安踏产品和服务的行为，或针对第三方诉讼进行法律抗辩。我们也可能与其他帮助我们进行反欺诈或调查的公司共享信息。</p>
                        <p>业务转让</p>
                        <p>您的信息可能作为韩国新罗免税店全部或部分资产的一部分出售转移至第三方。如果发生这种情况，我们将通过在本平台上公布通知或其他的通信方式通知您。</p>
                        <p>公开共享 & 默认共享</p>
                        <p>当您参与或使用特定的服务时，您同意公开分享一些基本的信息，可能包括您的用户名、所在城市和头像图片。</p>
                        <p>选择您的共享</p>
                        <p>您可以选择共享特定的信息。为了使用特定的功能，您可能需要调整您的隐私设置并且分享更多的信息。您也可以选择将您的活动于其他平台上共享，例如微博和微信。请阅读该等平台的隐私政策，因为您在该等平台上公开的活动将不再适用韩国希新罗免税店的隐私政策。</p>
                        <p>分享</p>
                        <p>公开共享的信息可能会被韩国新罗免税店用于推广目的。</p>
                        <p><b>信息保护</b></p>
                        <p>保护措施</p>
                        <p>我们使用多种保护措施，包括加密和验证工具来帮助保护您的信息。对于您的产品订单，我们使用安全的服务器。所有您提供的信用卡信息和支付相关信息，将被通过安全套接字层（SSL）技术传输并在我们的数据库中加密。</p>
                        <p>无担保</p>
                        <p>但是，同其他公司一样，韩国新罗免税店无法保证您提供给我们的信息百分之百安全或保密。</p>
                        <p>收集工具</p>
                        <p>我们如何收集信息</p>
                        <p>韩国新罗免税店将自动从我们的产品和服务中收集信息或收集您存储于浏览器或设备中的信息。我们使用多种方法来收集信息，包括但不限于cookies和像素标签/网络信标（“收集工具”）。</p>
                        <p>关闭信息收集工具</p>
                        <p>如果您关闭特定的信息收集工具，您可能无法使用使您拥有更高效体验的一些功能，或者我们的一些服务和功能可能无法正常工作。但是，您仍可以通过拨打我们的客服电话订购产品。请注意，我们的网站可能无法识别或响应互联网浏览器上的“请勿追踪头信息”（Do Not Track Headers）。</p>
                        <p>第三方追踪</p>
                        <p><b>我们还与其他代表我们在整个互联网上使用追踪技术来投放广告的公司合作。这些公司可能收集您与我们的互动信息，包括广告。</b>这些公司可能无法识别或响应互联网浏览器上的“请勿追踪头信息”（Do Not Track Headers）。如果您希望选择退出接收与本网站相关的第三方追踪技术制作的广告，请<span class="here">点击这里。</span></p>
                        <p>请注意，如果您选择退出这些第三方追踪技术，您可能仍会看到其他网站上我们的广告，但是该等广告并非与本网站相关的第三方利用追踪技术制作的广告。</p>
                        <p>选择</p>
                        <p>使用条款</p>
                        <p>您使用我们的产品和服务，以及由此产生的任何争议，均受本隐私政策的约束。</p>
                    </div>
                </div>
                <button class="abs btn btn-policy-agree">同&nbsp;&nbsp;意</button>
                <button class="abs btn btn-policy-refuse">拒&nbsp;&nbsp;绝</button>
            </div>
        </div>
    </div>
</div>