<div class="wrapper">
    <div class="prize-coupons_page page">
        <!-- 背景 -->
        <img class="abs full-width bg" src="assets/images/common/bg0.png" />
        <!-- 奖品优惠券 -->
        <div class="abs full-width modal modal-prize5">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-coupon.png" />
                    <div class="abs shop-coupon"></div>
                    <div class="abs shopping-card"></div>
                    <a class="abs taxi" href="http://m.shilladfs.com/comm/kr/zh/eventView?event_id=191&event_site_code=0"></a>
                    <a class="abs silver-card" href="http://www.shilladfs.com/comm/kr/zh/eventView?event_id=622"></a>
                </div>
                <div class="abs full-width tip">*点击优惠券领取福利</div>
                <button class="abs btn btn-share">有 福 同 享</button>
            </div>
        </div>
    </div>
</div>