<div class="wrapper">
    <div class="turntable_page page">
    	<!-- 校对 -->
    	<!-- <img class="abs full-width title" src="assets/images/turntable/bg02.png" /> -->
        <!-- 背景 -->
        <img class="abs full-width title" src="assets/images/common/title.png" />
        <!-- 顶部彩花 -->
        <img class="abs full-width top" src="assets/images/turntable/top.png" />
		<!-- 转盘 -->
		<div class="abs turntable-wrapper">
	        <img src="assets/images/turntable/coupon.png" id="coupon" />
		    <img src="assets/images/turntable/coupon2.png" id="coupon2" />
		    <img src="assets/images/turntable/samsung.png" id="samsung" />
		    <img src="assets/images/turntable/gold-pig.png" id="gold-pig" />
			<div class="full-width banner">
				<div class="rel full-wdith turnplate">
					<canvas class="full-width" id="wheelcanvas" width="422px" height="422px"></canvas>
                    <img class="abs full-width pan" src="assets/images/turntable/pan.png"/>
					<button class="abs turnplate-button">
                        <img class="full-width" src="assets/images/turntable/turnplate-button.png"/>
                        <div class="abs time-num"></div>
                    </button>
					<img class="abs full-width turnplate-pointer" src="assets/images/turntable/turnplate-pointer.png"/>
				</div>
			</div>
		</div>
		<!-- 粉猪 -->
        <img class="abs full-width bottom" src="assets/images/turntable/bottom.png" />
        <!-- 规则弹窗 -->
        <div class="abs full-width modal modal-rules">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <div class="header">游戏说明</div>
                    <ul>
                        <li>
                            <div class="sub-title">活动时间:</div>
                            <div class="sub-content">2018年11月01日-2019年02月10日</div>
                        </li>
                        <li>
                            <div class="sub-title">活动参与方式:</div>
                            <div class="sub-content">1. 点击“开始”按钮，幸运转盘会自动翻转，指针在转盘上最终停留的奖品即为本次抽奖所获得的产品</div>
                        </li>
                        <li>
                            <div class="sub-title">活动规则:</div>
                            <div class="sub-content">1.&nbsp;&nbsp;&nbsp;&nbsp;每个微信账号有三次抽奖的机会<br />2.&nbsp;&nbsp;&nbsp;&nbsp;获得一等奖至四等奖的用户在活动中需要完善个人信息用于去新罗免税店首尔店凭借本人的护照兑换所获得的奖品<br />3.&nbsp;&nbsp;&nbsp;&nbsp;因个人信息填写不完善导致在线下指定门店无法核实获奖者身份，视为弃权处理<br />4.&nbsp;&nbsp;&nbsp;&nbsp;获得一等奖至四等奖的用户请在2019年6月30日之前去新罗免税店首尔店室外服务台凭借本人的护照兑换所获得的奖品，逾期则视为弃权处理<br />5.&nbsp;&nbsp;&nbsp;&nbsp;所有奖品以实物为准<br />6.&nbsp;&nbsp;&nbsp;&nbsp;本活动最终解释权为韩国新罗免税店所有</div>
                        </li>
                        <li>
                            <div class="sub-title">奖品设置:</div>
                            <div class="sub-content">1.&nbsp;&nbsp;&nbsp;&nbsp;一等奖（1名）：50g 金猪<br />2.&nbsp;&nbsp;&nbsp;&nbsp;二等奖（2名）：三星笔记本电脑<br />3.&nbsp;&nbsp;&nbsp;&nbsp;三等奖（2名）：新罗酒店代金券和携程代金券（面值500,000韩元）<br />4.&nbsp;&nbsp;&nbsp;&nbsp;四等奖（100名）：新罗免税店购物卡(面值80,000韩元)<br />5.&nbsp;&nbsp;&nbsp;&nbsp;五等奖（人数不限）：新罗免税店自由行顾客专享优惠券组合<br />•&nbsp;&nbsp;&nbsp;&nbsp;新罗免税店首尔店、济州店、机场店优惠券<br />•&nbsp;&nbsp;&nbsp;&nbsp;新罗免税店购物卡（面值10,000韩元）<br />•&nbsp;&nbsp;&nbsp;&nbsp;报销出租车<br />•&nbsp;&nbsp;&nbsp;&nbsp;立即开通银卡</div>
                        </li>
                        <li>
                            <div class="sub-content">温馨提示：建议请在wifi环境下参与本次活动</div>
                        </li>
                    </ul>
                </div>
                <button class="abs btn btn-agree">同&nbsp;&nbsp;意</button>
                <button class="abs btn btn-refuse">拒&nbsp;&nbsp;绝</button>
            </div>
        </div>
        <!-- 奖品金猪 -->
        <div class="abs full-width modal modal-prize1">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-pig.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面<br />*奖品入境关税，需中奖者自行支付</div>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品三星 -->
        <div class="abs full-width modal modal-prize2">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-samsung.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品住宿券 -->
        <div class="abs full-width modal modal-prize3">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-stay.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品购物卡 -->
        <div class="abs full-width modal modal-prize4">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-shopping.png" />
                </div>
                <div class="abs full-width tip">*图片仅供参考，奖品以实物为准<br />*请在2019年06月30号之前领取你的礼物<br />* 请截图保存中奖页面</div>
                <button class="abs btn btn-apply">即 刻 领 奖</button>
            </div>
        </div>
        <!-- 奖品优惠券 -->
        <div class="abs full-width modal modal-prize5">
            <div class="rel full-width modal-panel">
                <img class="full-width modal-bg" src="assets/images/common/bg-modal.png" />
                <div class="abs modal-content">
                    <img class="full-width prize-preview" src="assets/images/common/prize-coupon.png" />
                    <div class="abs shop-coupon"></div>
                    <div class="abs shopping-card"></div>
                    <a class="abs taxi" href="http://m.shilladfs.com/comm/kr/zh/eventView?event_id=191&event_site_code=0"></a>
                    <a class="abs silver-card" href="http://www.shilladfs.com/comm/kr/zh/eventView?event_id=622"></a>
                </div>
                <div class="abs full-width tip">*点击优惠券领取福利</div>
                <button class="abs btn btn-again">再 试 一 次</button>
                <button class="abs btn btn-share">有 福 同 享</button>
            </div>
        </div>
    </div>
</div>