@import "../base/page";

.page-card {
    .base-page;

    background-color: #ffe26f;
    width: 100%;
    height: 100%;
    background: url('../images/common/bg.png') no-repeat;
    background-size: cover;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .rel {
        position: relative;
    }
    .full-width {
        width: 100%;
    }
    // .wrapper {
    //     height: 100%!important;
    // }
    .card_page {
        .bg {
            top: 0;
            left: 0;
        }
        .modal-card {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .close {
                    width: 10%;
                    top: -1.6%;
                    right: 0.5%;
                }
                .prize-preview {
                    width: 90%;
                    top: 2%;
                    left: 5%;
                }
                .modal-content {
                    width: 74%;
                    height: 34%;
                    top: 52%;
                    left: 13%;
                    border-radius: 10px;
                    background: rgba(92, 61, 16, 0.8);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;            /* For Chrome5+, Safari5+ */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset; 
                    color: #ffeebd;
                    overflow-y: scroll;
                    ul {
                        list-style: none;
                        margin: 0.4rem 0 0;
                        padding: 0 0.32rem;
                        font-size: 0.3rem;
                        li {
                            margin-bottom: 0.3rem;
                            line-height: 0.46rem;
                            .sub-title {
                                font-weight: 500;
                            }
                        }
                    }
                }
                .tip {
                    top: 47%;
                    left: 13%;
                    font-size: 0.38rem;
                    line-height: 0.42rem;
                    color: #ffe08a;
                }
            }
        }
    }
}
