@import "../base/page";

.page-home {
    .base-page;

    background-color: #ffe26f;
    width: 100%;
    height: 100%;
    background: url('../images/common/bg.png') no-repeat;
    background-size: cover;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .rel {
        position: relative;
    }
    .full-width {
        width: 100%;
    }
    // .wrapper {
    //     height: 100%!important;
    // }
    .home_page {
        .title, .prize, .coins, .bottom {
            left: 0;
        }
        .title, .coins {
            top: 0;
        }
        .prize {
            top: 20.6%;
        }
        .bottom {
            top: 74%;
        }
        .pig {
            width: 19%;
            margin-left: 4.4%;
        }
        .start {
            width: 42%;
            height: 0.9rem!important;
            top: 42%;
            left: 29%;
            font-size: 0.48rem!important;
            box-shadow: 0px 3px 5px 0 rgba(92, 61, 16, 0.3)!important;
        }
        .btn {
            height: 0.78rem;
            font-size: 0.4rem;
            font-weight: 500;
            color: #49320f;
            border: none;
            border-radius: 50px;
            outline: none;
            background: -webkit-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Firefox 3.6 - 15 */
            background: linear-gradient(#ffde80 30%, #fecc2f 80%); /* 标准的语法 */
            // box-shadow: 5px 5px 10px 0 rgba(156, 112, 34, 0.5);
            box-shadow: 5px 5px 5px 0 rgba(92, 61, 16, 0.5);
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4, .modal-prize5 {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .modal-content {
                    width: 90%;
                    top: 2%;
                    left: 5%;
                }
                .tip {
                    text-align: center;
                    line-height: 0.42rem;
                    color: #ffe08a;
                }
                .btn-unlock, .btn-apply {
                    width: 38%;
                    top: 85%;
                    left: 31%;
                }
            }
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4 {
            .tip {
                top: 72%;
                font-size: 0.24rem;
            }
        }
        .modal-prize5 {
            .shop-coupon, .shopping-card, .taxi, .silver-card {
                display: block;
                width: 60%;
                height: 2rem;
                left: 20%;
            }
            .shop-coupon {
                top: 19%;
            }
            .shopping-card {
                top: 37.6%;
            }
            .taxi {
                top: 56%;
            }
            .silver-card {
                top: 74.2%;
            }
            .tip {
                top: 84.4%;
                font-size: 0.38rem;
            }
            .btn-again, .btn-share {
                width: 27%;
                height: 0.66rem;
                top: 88.6%;
                font-size: 0.32rem;
            }
            .btn-again {
                left: 20%;
            }
            .btn-share {
                right: 20%;
            }
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4, .modal-prize5 {
            display: none;
        }
    }
}
