@import "../base/page";

.page-message-success {
    .base-page;

    background-color: #ffe26f;
    width: 100%;
    height: 100%;
    background: url('../images/common/bg.png') no-repeat;
    background-size: cover;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .rel {
        position: relative;
    }
    .full-width {
        width: 100%;
    }
    // .wrapper {
    //     height: 100%!important;
    // }
    .message-success_page {
        .bg {
            top: 0;
            left: 0;
        }
        .btn {
            height: 0.78rem;
            font-size: 0.4rem;
            font-weight: 500;
            color: #49320f;
            border: none;
            border-radius: 50px;
            outline: none;
            background: -webkit-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Firefox 3.6 - 15 */
            background: linear-gradient(#ffde80 30%, #fecc2f 80%); /* 标准的语法 */
            // box-shadow: 5px 5px 10px 0 rgba(156, 112, 34, 0.5);
            box-shadow: 5px 5px 5px 0 rgba(92, 61, 16, 0.5);
        }
        .modal-message-success {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .modal-content {
                    width: 64%;
                    height: 38%;
                    top: 28%;
                    left: 18%;
                    border-radius: 10px;
                    background: rgba(92, 61, 16, 0.8);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;            /* For Chrome5+, Safari5+ */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset; 
                    color: #ffeebd;
                    overflow-y: scroll;
                    .header {
                        margin-top: 1.1rem;
                        font-size: 0.36rem;
                        line-height: 0.64rem;
                        text-align: center;
                    }
                }
                .btn-unlock {
                    width: 38%;
                    top: 74%;
                    left: 31%;
                }
            }
        }
    }
}
