@import "../base/page";

.page-message-fin {
    .base-page;

    background-color: #ffe26f;
    width: 100%;
    height: 100%;
    background: url('../images/common/bg.png') no-repeat;
    background-size: cover;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .rel {
        position: relative;
    }
    .full-width {
        width: 100%;
    }
    // .wrapper {
    //     height: 100%!important;
    // }
    .message-fin_page {
        .bg, .arrow {
            top: 0;
            left: 0;
        }
        .modal-message-fin {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .close {
                    width: 10%;
                    top: -1.6%;
                    right: 0.5%;
                }
                .modal-content {
                    width: 64%;
                    height: 25%;
                    top: 32%;
                    left: 18%;
                    border-radius: 10px;
                    background: rgba(92, 61, 16, 0.8);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;            /* For Chrome5+, Safari5+ */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset; 
                    color: #ffeebd;
                    overflow-y: scroll;
                    .header {
                        margin-top: 1.1rem;
                        font-size: 0.36rem;
                        line-height: 0.64rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}
