@import "../base/page";

.page-turntable {
    .base-page;

    background-color: #ffe26f;
    width: 100%;
    height: 100%;
    background: url('../images/common/bg.png') no-repeat;
    background-size: cover;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .abs {
        position: absolute;
    }
    .rel {
        position: relative;
    }
    .full-width {
        width: 100%;
    }
    .wrapper {
        height: 100%!important;
    }
    .turntable_page {
        .title, .top, .bottom {
            left: 0;
        }
        .title, .top {
            top: 0;
        }
        .turntable-wrapper {
            top: 27%;
            width: 90%;
            left: 5%;
            #coupon, #coupon2, #samsung, #gold-pig {
                display: none;
            }
            .banner {
                margin: 0 auto;
                .turnplate {
                    background: url('../images/turntable/turnplate.png') no-repeat;
                    background-size: 100% auto;
                    .pan {
                        width: 90%;
                        top: 5%;
                        left: 5%;
                    }
                    .turnplate-button {
                        width: 36.6%;
                        top: 32.6%;
                        left: 31.7%;
                        border: none;
                        background: transparent;
                        outline: none;
                        .time-num {
                            top: 50%;
                            left: 42%;
                            font-size: 0.84rem;
                            font-weight: 500;
                            color: #fff;
                            text-align: center;
                        }
                    }
                    img.turnplate-pointer {
                        top: -3px;
                        left: 0;
                    }
                }
            }
        }
        .bottom {
            bottom: 4%;
        }
        .btn {
            height: 0.78rem;
            font-size: 0.4rem;
            font-weight: 500;
            color: #49320f;
            border: none;
            border-radius: 50px;
            outline: none;
            background: -webkit-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#ffde80 30%, #fecc2f 80%); /* Firefox 3.6 - 15 */
            background: linear-gradient(#ffde80 30%, #fecc2f 80%); /* 标准的语法 */
            // box-shadow: 5px 5px 10px 0 rgba(156, 112, 34, 0.5);
            box-shadow: 5px 5px 5px 0 rgba(92, 61, 16, 0.5);
        }
        .modal-rules {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .close {
                    width: 10%;
                    top: -1.5%;
                    right: 0.5%;
                }
                .modal-content {
                    width: 74%;
                    height: 72%;
                    top: 9%;
                    left: 13%;
                    border-radius: 10px;
                    background: rgba(92, 61, 16, 0.8);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;            /* For Chrome5+, Safari5+ */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset; 
                    color: #ffeebd;
                    overflow-y: scroll;
                    .header {
                        margin-top: 10px;
                        font-size: 0.48rem;
                        font-weight: 500;
                        text-align: center;
                    }
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0 0.32rem;
                        font-size: 0.3rem;
                        li {
                            margin-bottom: 0.32rem;
                            line-height: 0.46rem;
                            .sub-title {
                                font-weight: 500;
                            }
                            .sub-content {
                                text-align: justify;
                            }
                        }
                    }
                }
                .btn-agree, .btn-refuse {
                    top: 84%;
                    width: 2.8rem;
                }
                .btn-agree {
                    left: 19%;
                }
                .btn-refuse {
                    right: 19%;
                }
            }
        }
        .modal-message {
            display: none;
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .close {
                    width: 10%;
                    top: -1.5%;
                    right: 0.5%;
                }
                .modal-content {
                    width: 64%;
                    height: 30%;
                    top: 28%;
                    left: 19%;
                    border-radius: 15px;
                    background: rgba(92, 61, 16, 0.8);
                    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;               /* For Firefox3.6+ */
                    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset;            /* For Chrome5+, Safari5+ */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35) inset; 
                    color: #ffeebd;
                    overflow-y: scroll;
                    .header {
                        margin-top: 1.1rem;
                        font-size: 0.36rem;
                        line-height: 0.64rem;
                        text-align: center;
                    }
                }
                .btn-share {
                    top: 62%;
                    width: 38%;
                    left: 31%;
                }
            }
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4, .modal-prize5 {
            background: rgba(0, 0, 0, 0.7);
            .modal-panel {
                margin-top: 16%;
                .modal-content {
                    width: 90%;
                    top: 2%;
                    left: 5%;
                }
                .tip {
                    text-align: center;
                    line-height: 0.42rem;
                    color: #ffe08a;
                }
                .btn-apply {
                    width: 38%;
                    top: 85%;
                    left: 31%;
                }
            }
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4 {
            .tip {
                top: 72%;
                font-size: 0.24rem;
            }
        }
        .modal-prize5 {
            .shop-coupon, .shopping-card, .taxi, .silver-card {
                display: block;
                width: 60%;
                height: 2rem;
                left: 20%;
            }
            .shop-coupon {
                top: 19%;
            }
            .shopping-card {
                top: 37.6%;
            }
            .taxi {
                top: 56%;
            }
            .silver-card {
                top: 74.2%;
            }
            .tip {
                top: 84.4%;
                font-size: 0.38rem;
            }
            .btn-again, .btn-share {
                width: 27%;
                height: 0.66rem;
                top: 88.6%;
                font-size: 0.32rem;
            }
            .btn-again {
                left: 20%;
            }
            .btn-share {
                right: 20%;
            }
        }
        .modal-prize1, .modal-prize2, .modal-prize3, .modal-prize4, .modal-prize5 {
            display: none;
        }
    }
}
